*.iml
.gradle
.gradle/properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.project
.idea/
.settings/
.vscode/ 
.gradle/
.idea/
app/build/*
app/config/
buildSrc/.gradle/
core-kotlin-test/build/
data-api/build/
data/build/
domain/build/
local.properties
