name: Lint and Tests check

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
        with:
          # Checkout the head ref instead of the PR branch that github creates.
          ref: ${{ github.head_ref }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install and build
        run: |
          npm install
          npm run build
      - name: Run status checks
        run: node ./status-checks
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}